@page
@model IndexModel

<h2 class="text-info">Login & Register</h2>
<div class="border container" style="padding:30px">
    <form method="post">

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UserDetails.UserID"></label>
            </div>
            <div class="col-3">
                <input asp-for="UserDetails.UserID" class="form-control" />
            </div>
            <span asp-validation-for="UserDetails.UserID" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UserDetails.Password"></label>
            </div>
            <div class="col-3">
                <input type="password" asp-for="UserDetails.Password" class="form-control" />
            </div>
            <span asp-validation-for="UserDetails.Password" class="text-danger"></span>
        </div>

        <div class="form-group row col-6">
            <div class="col-3 offset-4">
                <input type="submit"  value="Login" class="btn btn-primary form-control" />
               
            </div>
            <div class="col-3">
                <a asp-page="Register" class="btn btn-success form-control">Register</a>
            </div>
        </div>

        @if (TempData["error"] != null)
        {
            <div class="alert-danger">@TempData["error"]</div>
        }
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}