@page
@model StayFitGym.Terms_ConditionsModel

<br />
<h2 class="text-info">  Congratulations!! </h2>
<h4>

    You have successfully paid "@TempData["Summary"]" for the Gym Membership.

</h4>
<br />

<div>
    <h6> Terms and conditions </h6>
    <span>

        The Joining Fee (if one is payable) and first month's membership fees are collected from you by us either by Debit / Credit card at time of purchase, or by Direct Debit approximately 5 working days from your membership application date. Joining fees are applied to cover the initial administration costs associated with setting up a new membership and direct debit agreement and entitle the member to an induction session, bookable online.
        If you are looking to upgrade your membership there maybe an admin fee charged at the point at which you upgrade.
        Your second Direct Debit for monthly membership fees only will be collected one month after you joined, unless you joined prior to your gym opening in which case they will be collected one month after the gym opened. Subsequent Direct Debits for monthly membership fees will be collected monthly thereafter. Each payment made is not refundable under any circumstances.
    </span>

</div>